// colors

$green-color: #004d40;
$light-color1: #00695c;
$light-color2: #00897b;
$light-color3: #26a69a;
$light-color4: #80cbc4;
$white-color: #e0f2f1;
$yellow-color: #ffd54f;

// sizes

$px320-200: clamp(12.5rem, 8.971rem + 17.65vw, 20rem);
$px35-20: clamp(1.25rem, 0.809rem + 2.21vw, 2.188rem);
$px24-15: clamp(0.938rem, 0.643rem + 1.47vw, 1.563rem);
$px22-13: clamp(0.813rem, 0.548rem + 1.32vw, 1.375rem);
$px13-8: clamp(0.5rem, 0.353rem + 0.74vw, 0.813rem);
$px5-1: clamp(0.063rem, -0.055rem + 0.59vw, 0.313rem);
