@import './var';

.app__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $yellow-color;
  height: 100vh;
  margin-inline: auto;
  user-select: none;
}

.date__container {
  background-color: $green-color;
  color: $white-color;
  font-size: $px24-15;
  padding: 5px 25px;
  border-radius: 15px;
  margin-bottom: $px24-15;
}
