@import './../../styles/var';

.root {
  width: $px320-200;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: $green-color;
  color: $white-color;
}

.header {
  position: relative;
  border-radius: 5px 5px 0 0;
  background-color: $light-color1;
  padding: $px22-13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px -1px rgba($color: $green-color, $alpha: 0.6);
}

.arrow_left {
  width: 25px;
  height: 20px;
  cursor: pointer;
  background-image: url(../../assets/images/ico/arrow.svg);
  background-repeat: no-repeat;
}

.arrow_right {
  width: 25px;
  height: 20px;
  cursor: pointer;
  background-image: url(../../assets/images/ico/arrow.svg);
  background-repeat: no-repeat;
  transform: rotate(-180deg);
}

.container {
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.toggle_field {
  font-size: $px22-13;
  cursor: pointer;
}

.week_names {
  height: $px35-20;
  font-weight: 600;
  font-size: $px13-8;
  color: $light-color4;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.days {
  font-size: $px22-13;
  font-weight: 400;
  color: #e0f2f1;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: $px5-1;
}

.day {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: $light-color1;
  }
}

.day_additional {
  padding: 5px;
  font-weight: 300;
  cursor: pointer;
  color: $light-color2;
}

.day_today {
  background-color: $white-color;
  color: $green-color;
}

.day_selected {
  color: $white-color;
  background-color: $light-color3;

  &:hover {
    background-color: $light-color4;
    color: $green-color;
  }
}

.pick_item {
  padding: 9px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: $light-color3;
  }

  &_container {
    font-weight: 400;
    color: $white-color;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
    font-size: $px22-13;
  }

  &_year {
    font-weight: 300;
    padding: 9px 16px;
    color: $light-color2;
  }

  &_month {
    background-color: $white-color;
    color: $green-color;
  }

  &_selected {
    color: $white-color;
    background-color: $light-color3;

    &:hover {
      background-color: $light-color4;
      color: $green-color;
    }
  }
}
