.root {
  width: 200px;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: #004d40;
  color: #e0f2f1;
}

.header {
  position: relative;
  border-radius: 5px 5px 0 0;
  background-color: #00695c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px -1px rgba($color: #004d40, $alpha: 0.6);
}

.arrow_left {
  width: 25px;
  height: 20px;
  cursor: pointer;
  background-image: url(../../assets/images/ico/arrow.svg);
  background-repeat: no-repeat;
}

.arrow_right {
  width: 25px;
  height: 20px;
  cursor: pointer;
  background-image: url(../../assets/images/ico/arrow.svg);
  background-repeat: no-repeat;
  transform: rotate(-180deg);
}

.container {
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.week_names {
  height: 20px;
  font-weight: 600;
  font-size: 8px;
  color: #80cbc4;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.days {
  font-size: 13px;
  font-weight: 400;
  color: #e0f2f1;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 1px;
}

.day {
  border-radius: 5px;
  padding: 5px 0;
  cursor: pointer;

  &:hover {
    background-color: #00695c;
  }
}

.day_additional {
  padding: 5px 0;
  font-weight: 300;
  cursor: pointer;
  color: #00897b;
}

.day_today {
  background-color: #e0f2f1;
  color: #004d40;
}

.day_selected {
  color: #e0f2f1;
  background-color: #26a69a;

  &:hover {
    background-color: #80cbc4;
    color: #004d40;
  }
}
